<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotBB</title>
    <link rel="stylesheet" href="~/lib/punkweb-ui/punkweb-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotBB.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="layout">
        <header>
            <nav class="nav">
                <div class="nav__upper">
                    <div class="pw-container">
                        <div class="nav__upper__content">
                            <div class="nav__spacer"></div>
                            <div class="nav__upper__links">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="nav__upper__link" asp-controller="Account" asp-action="Logout">Logout</a>
                                }
                                else
                                {
                                    <a class="nav__upper__link" asp-controller="Account" asp-action="Register">Register</a>
                                    <a class="nav__upper__link" asp-controller="Account" asp-action="Login">Login</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__main">
                    <div class="pw-container">
                        <div class="nav__main__content">
                            <a class="nav__title" asp-area="" asp-controller="Home" asp-action="Index">DotBB</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main">
            <div class="pw-container">
                @RenderBody()
            </div>
        </main>

        <footer>
            <div class="footer">
                <div class="pw-container">
                    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET
                        Core</a>.</p> *@
                    <div class="footer__content">
                        <div>Powered by <a href="https://github.com/shakedown-street/DotBB" target="_blank">DotBB</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
