<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotBB</title>
    <link rel="stylesheet" href="~/lib/punkweb-ui/punkweb-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotBB.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="pw-container">
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">DotBB</a>
        </nav>
    </header>

    <main class="pw-container my-8">
        @RenderBody()
    </main>

    <footer class="pw-container">
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="pw-container">
            &copy; 2025 - DotBB
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
