@model ThreadCreateViewModel

@{
    ViewData["Title"] = "Create Thread";
}

<form class="pw-form" method="post" asp-action="Create">
    <input type="hidden" name="subcategoryId" value="@Model.Subcategory.Id" />
    <div class="pw-form-group">
        <label class="pw-input-label" for="title">Title</label>
        <input class="pw-input fluid" type="text" id="title" name="title" required />
    </div>
    <div class="pw-form-group">
        <label class="pw-input-label" for="content">Content</label>
        <textarea class="pw-input fluid" id="content" name="content" required></textarea>
    </div>
    <div class="pw-form-actions">
        <button class="pw-button fluid primary raised" type="submit">Create Thread</button>
    </div>
</form>
