@{
    ViewData["Title"] = "Login";
}

<nav>
    <ul class="pw-breadcrumb">
        <li class="pw-breadcrumb-item">
            <a class="pw-breadcrumb-link" href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="pw-breadcrumb-item active">
            Login
        </li>
    </ul>
</nav>

<div class="pw-card centerPage">
    <div class="pw-card-header">Login</div>
    <div class="pw-card-content">
        <form class="pw-form" asp-action="Login">
            <div class="pw-form-group">
                <label class="pw-input-label" for="username">Username</label>
                <input class="pw-input fluid" type="text" id="username" name="username" required />
            </div>
            <div class="pw-form-group">
                <label class="pw-input-label" for="password">Password</label>
                <input class="pw-input fluid" type="password" id="password" name="password" required />
            </div>
            <div class="pw-form-actions">
                <button class="pw-button fluid primary raised" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>